.carousel {
    width: 500px; /*fixed width to fit 1x image.*/
    overflow: hidden; /*hides other images in child div.*/
    margin: 0 auto; /*centers div - only works if have fixed width.*/
    position: relative; /*so can position arrows*/
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slides {
    width: 100%;
    display: flex;
    position: relative;
    transition: transform 0.3s ease; /*for a smooth transition.*/
}

.slide {
    flex: 0 0 100%; /*this makes sure the slide takes up the entire width of its container.*/
}

.prev-arrow,
.next-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5); /*background for visibility.*/
    padding: 5px;
    z-index: 10; /*makes sure they're on top and visible.*/
    font-weight: bold;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.nav-dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 5px;
    display: inline-block; /* Ensure they're inline and visible */
}


.dot-container {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5); /*background for visibility.*/
    border-radius: 25px;
    width: fit-content;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%; /* Start at the center of the container */
    transform: translateX(-50%); /* Offset by half of its width to center */
}